.serverless
bin
node_modules

bazel-bin
bazel-goclassifieds
bazel-out
bazel-testlogs
bazel-vertigo
bazel-hedge

private.dev.json
private.prod.json

api/entity/rtc-vertigo-dev.private-key.pem
api/entity/rtc-vertigo-prod.private-key.pem

.npmrc
azure_credentials.json