{{ define "profilelistitems" }}
{
    "query": {
        "bool": {
            "must": [
                {
                    "bool": {
                        "filter": [
                            {
                                "term": {
                                    "parentId.keyword": {
                                        "value": "{{ .ParentId }}"
                                    }
                                }
                            }
                        ]
                    }
                },
                {
                    "bool": {
                        "should": [
                            {
                                "bool": {
                                    "filter": [
                                        {
                                            "term": {
                                                "entityPermissions.readUserIds.keyword": {
                                                    "value": "{{ .UserId }}"
                                                }
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "bool": {
                                    "filter": [
                                        {
                                            "term": {
                                                "entityPermissions.writeUserIds.keyword": {
                                                    "value": "{{ .UserId }}"
                                                }
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "bool": {
                                    "filter": [
                                        {
                                            "term": {
                                                "entityPermissions.deleteUserIds.keyword": {
                                                    "value": "{{ .UserId }}"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                }
            ]
        }
    }
}
{{ end }}

{{ define "profilenavitems1" }}
{
    "query": {
        "bool": {
            "should": [
                {
                    "bool": {
                        "filter": [
                            {
                                "term": {
                                    "entityPermissions.readUserIds.keyword": {
                                        "value": "{{ .UserId }}"
                                    }
                                }
                            }
                        ]
                    }
                },
                {
                    "bool": {
                        "filter": [
                            {
                                "term": {
                                    "entityPermissions.writeUserIds.keyword": {
                                        "value": "{{ .UserId }}"
                                    }
                                }
                            }
                        ]
                    }
                },
                {
                    "bool": {
                        "filter": [
                            {
                                "term": {
                                    "entityPermissions.deleteUserIds.keyword": {
                                        "value": "{{ .UserId }}"
                                    }
                                }
                            }
                        ]
                    }
                }
            ]
        }
    }
}
{{ end }}

{{ define "profilenavitems2" }}
{
    "query": {
        "bool": {
            "should": [
                {
                    "bool": {
                        "filter": [
                            {
                                "terms": {
                                    "id.keyword": [
                                        {{range $index, $element := .Ids}}
                                          "{{ $element }}"{{if ne $index $.Last}},{{end}}
                                        {{end}}
                                    ]
                                }
                            }
                        ]
                    }
                },
                {
                    "bool": {
                        "filter": [
                            {
                                "terms": {
                                    "parentId.keyword": [
                                        {{range $index, $element := .Ids}}
                                          "{{ $element }}"{{if ne $index $.Last}},{{end}}
                                        {{end}}
                                    ]
                                }
                            }
                        ]
                    }
                }
            ]
        }
    }
}
{{ end }}