{{ define "chatconversations" }}
SELECT 
     recipientid AS recipientId, 
     recipientlabel AS recipientLabel, 
     userid AS userId
 FROM
     chatconversations 
WHERE 
     userid = {{ bindValue .Req.RequestContext.Authorizer.claims.sub }}
{{end}}

{{ define "chatmessages" }}
SELECT 
     senderid,
     recipientid,
     createdat,
     message
 FROM
     chatmessages 
WHERE 
     senderid = {{ bindValue .Req.RequestContext.Authorizer.claims.sub }}
  AND
     recipientid = {{ bindValue (index .Req.QueryStringParameters "recipientId") }}
{{end}}

{{ define "_chatmessages_inverse" }}
SELECT 
     senderid,
     recipientid,
     createdat,
     message
 FROM
     chatmessages
WHERE 
     recipientid = {{ bindValue .Req.RequestContext.Authorizer.claims.sub }}
  AND
     senderid = {{ bindValue (index .Req.QueryStringParameters "recipientId") }}
{{end}}

{{ define "_chatconnections" }}
SELECT
      connid,
      userid,
      createdat
  FROM
      chatconnections
 WHERE
      userid = {{ bindValue .Req.RequestContext.Authorizer.claims.sub }}
{{ end }}

{{ define "_chatconnections_inverse" }}
SELECT
      connid,
      userid,
      createdat
  FROM
      chatconnections
 WHERE
      userid = {{ bindValue (index .Metadata "recipientId" ) }}
{{ end }}

{{define "leads" }}
SELECT
     adid,
     profileid,
     senderid,
     phone,
     email,
     createdat
  FROM
     leads
 WHERE
     profileid = {{ bindValue (index .Req.QueryStringParameters "profileId") }}
{{ end }}

{{ define "pages" }}
SELECT
      site,
      path,
      title,
      body,
      published,
      createdAt
  FROM
      pages
 WHERE
      site = {{ bindValue (index .Req.QueryStringParameters "site") }}
{{ end }}

{{ define "gridlayouts"}}
SELECT
    id,
    site,
    weight,
    cols,
    rows,
    x,
    y
 FROM
    gridlayouts
WHERE
    site = {{ bindValue (index .Req.QueryStringParameters "site") }}
{{ end }}