{{ define "adlistitems" }}
{
	"query": {
		"bool": {
			"filter": [
				{
					"bool": {
						"must": [
							{
								"term": {
									"typeId.keyword": {
										"value": "{{ index . "typeId" 0 }}"
									}
								}
							}
                            {{ with .location }}{{ if eq (len .) 2 }},
							{
								"geo_distance": {
									"validation_method": "ignore_malformed",
									"distance": "10m",
									"distance_type": "arc",
									"location": {
										"lat": {{ index . 1 }},
										"lon": {{ index . 0 }}
									}
								}
							}
                            {{ end }}{{ end }}
						]
					}
				}
			],
			"must": [
				{
					"match": {
						"title": {
							"query": "dsafsdfsdfsd"
						}
					}
				}
			]
		}
	}
}
{{end}}