{{ define "adlistitems" }}
{
	"query": {
		"bool": {
			"filter": [
				{
					"bool": {
						"must": [
							{
								"term": {
									"typeId.keyword": {
										"value": "{{ index .Query "typeId" 0 }}"
									}
								}
							}
                            {{ with .Query.location }}{{ if eq (len .) 2 }},
							{
								"geo_distance": {
									"validation_method": "ignore_malformed",
									"distance": "10m",
									"distance_type": "arc",
									"location": {
										"lat": {{ index . 1 }},
										"lon": {{ index . 0 }}
									}
								}
							}
                            {{ end }}{{ end }}
                            {{ range $index, $attribute := .Attributes }}
                                {{ if (index $.Query $attribute.Name) }}
                                ,{
                                    "nested": {
                                        "path": "attributes",
                                        "query": {
                                            "bool": {
                                                "must": [
                                                    {
                                                        "term": {
                                                            "attributes.name": {
                                                                "value": "{{ $attribute.Name }}"
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "terms": {
                                                            "attributes.intValue": [
                                                                {{ index $.Query $attribute.Name 0 }}
                                                            ]
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                                {{ end }}
                            {{ end }}
						]
					}
				}
			],
			"must": [
                {{ with .Query.searchString }}
				{
					"match": {
						"title": {
							"query": "{{ index .Query 0 }}"
						}
					}
				}
                {{ end }}
                {{ with .Query.features }}{{ if $.Query.searchString }},{{ end }}
				{
					"nested": {
						"path": "featureSets",
						"query": {
                            "nested": {
                                "path": "featureSets.terms",
                                "query": {
                                    "bool": {
								        "must": [
                                            {{ range $index, $feature := . }}{{ if ne $index 0 }},{{ end }}
									        { 
                                                "match": { 
                                                    "featureSets.terms.humanName": "{{ $feature }}" 
                                                } 
                                            }
                                            {{ end }}
                                        ]
								    }
                                }
                            }
						}
					}
				}
                {{ end }}
			]
		}
	}
}
{{end}}